# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BITNO_Coin
Comment=BITNO_Coin QT test network
GenericName=BITNO_Coin Digital Currency QT client testnet network
Exec=bitno_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitno_coin_testnet.png
MimeType=x-scheme-handler/bitno;
Categories=X-Office;X-Finance;
Keywords=internet;bitno_coin;zbitno;tbitno;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=bitno-qt_testnet.desktop
