# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BITNO_Coin Daemon SNAP
Comment=main
GenericName=BITNO_Coin Digital Currency Daemon Client main network
Exec=bitno_coin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/bitno_coin.png
MimeType=x-scheme-handler/bitno;
Categories=X-Office;X-Finance;
Keywords=internet;bitno_coin;zbitno;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=bitnod.desktop
